* {
    font-family: "roboto", "sans-sherif";
    font-weight: 400;
}

/*****************************************************/
/* CUSTOM BUTTON
/*****************************************************/
.button {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 4px;

    display: block;
    text-align: center;

    /* change to fit needs */
    width: 200px;
    padding: 12px;
    /* margin: 30px; */
    margin: 30px auto;

    border-radius: 5px;
}

.button:hover {
    cursor: pointer;
}

/*****************************************************/
/* BUTTON 1
/*****************************************************/
.btn-1 {
    color: #287d88;
    background-color: #ecfffb;

    box-shadow: 0px 3px 5px rgba(50,50,93,0.1),
                0px 1px 3px rgba(0,0,0,0.07);

    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.btn-1:hover {
    background-color: #dcfcf5;

    box-shadow: 0px 3px 15px rgba(50,50,93,0.1),
                0px 1px 10px rgba(0,0,0,0.07);

    /* shift up 1px */
    position: relative;
    top: -1px;
}

/*****************************************************/
/* BUTTON 2
/*****************************************************/
.btn-2 {
    color: #1b5db3;
    background-color: transparent;

    border: 1px solid #1b5db3;
}

.btn-2:hover {
    color: #f1f1f1;
    background-color: #1b5db3;
}

/*****************************************************/
/* BUTTON 3
/*****************************************************/
.btn-3 {
    color: #f1f1f1;
    background-color: #cc0000;
    border-radius: 0;
}

.btn-3:after {
    position: relative;
    content: "Custom Button 3";
}

.btn-3:hover:after {
    content: "Hover";
}

/*****************************************************/
/* BUTTON 4
/*****************************************************/
.btn-4 {
    color: white;
    background: linear-gradient(135deg, blue, purple);

    box-shadow: 0px 3px 5px rgba(50,50,93,0.1),
                0px 1px 3px rgba(0,0,0,0.07);

    border-radius: 8px;
}

.btn-4:hover {
    text-decoration: underline;
}

/*****************************************************/
/* BUTTON 5
/*****************************************************/
.btn-5 {
    color: #ffffff;
    background-color: #568fd8;

    border-radius: 25px;

    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.btn-5:hover {
    /* shift up 1px */
    position: relative;
    top: -2px;
}

/*****************************************************/
/* BUTTON 6
/*****************************************************/
.btn-6 {
    color: #6b6b6b;
    background-color: #dfdfdf;

    border-radius: 2px;

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.btn-6-clicked {
    color: #ffffff;
    background-color: #18a547;
}

/*****************************************************/
/* BUTTON 7
/*****************************************************/
.btn-7 {
    color: #ffffff;
    background-color: #eb8908;

    border-radius: 9px;
    border: 2px solid #ca7608;

    box-shadow: 0px 3px 5px rgba(50,50,93,0.1),
                0px 1px 3px rgba(0,0,0,0.07);
    text-shadow: 0px 2px 3px rgba(50,50,93,0.7);

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.btn-7:active {
    /* shift up 2px */
    position: relative;
    top: -2px;
}