* {
    font-family: "roboto", "sans-sherif";
    font-weight: 400;
}

/*****************************************************/
/* CUSTOM BUTTON
/*****************************************************/
.button {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 4px;

    color: #287d88;
    background-color: #ecfffb;

    padding: 17px 24px;
    border-radius: 5px;

    border: none;
    outline: none;

    box-shadow: 0px 3px 5px rgba(50,50,93,0.1),
                0px 1px 3px rgba(0,0,0,0.07);

    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.button:hover {
    cursor: pointer;
    
    background-color: #dcfcf5;

    box-shadow: 0px 3px 15px rgba(50,50,93,0.1),
                0px 1px 10px rgba(0,0,0,0.07);

    position: relative;
    top: -1px;
}